body {
  background-color: #E0F0C1;
  text-align: left;
}

h1 {
  color: #368;
}

h2 {
  style: bold;
  font-size: 25px;
}

h3 {
  line-height: 20px;
  font-size: 15px
  font-weight: lighter;
}

li {
  font-style: oblique;
  font-family: sans-serif;
}
